.main-consultar-vendas {
  width: 80%;
  height: 100vh;
  margin: auto;
  padding: 1rem;
}

.content-adicionar-venda {
  display: flex;
  justify-content: flex-end;
}

.adicionar-venda {
  font-size: 3rem;
  padding: .5rem 1.5rem;
  background-color: #7A6FBF;
  color: white;
  border-radius: .5rem;
  cursor: pointer;
}

.content-pesquisar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.content-pesquisar input {
  display: block;
  width: 20rem;
  padding: 1rem 1.5rem;
  border: .01rem solid #5B5B5B80;
  border-radius: .5rem;
  /* margin: .75rem 0; */
}

.content-pesquisar a {
  display: flex;
  gap: .5rem;
  align-items: center;
  padding: 1rem 2rem;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: .5rem;
  background-color: #5B5B5B;
  font-size: .75rem;
}

.lista-vendas {
  width: 80%;
  margin: 3rem auto;
}

.lista-vendas li {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 1rem;
  padding: 1rem;
  border-radius: .5rem;
  margin: 1rem 0;
  text-align: center;
}

.lista-vendas li:not(.lista-vendas li:first-child) {
  background-color: white;
  box-shadow: 0 .25rem .25rem 0 #00000025;
}

.lista-vendas h3 {
  color: #5B5B5B;
  font-weight: 500;
}

.div-btn {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.finalizar-venda {
  display: block;
  padding: 1rem;
  border-radius: .5rem;
  color: white;
  font-size: .75rem;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #4C8A4A;
  cursor: pointer;
}
